.derniereactivitee{
	margin: 0.8em;
	border-radius: 15px;
	border-width: 0.1em;
	border-color: #839192;
	border-style: solid;
}

.Container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1em;
}

.Def{
	font-weight: bold;
}

.map{
	width: 10em;
	height: 14em;
	border-radius: 2em;
	border: 0.2em;
}

.icone{
	width: 1em;
	height: 10em;
}