.Navbar{
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
    font-weight: bold; 
}

.contour{
	margin: 0.8em;
	border-radius: 15px;
	border-width: 0.1em;
	border-color: #839192;
    border-style: solid;
	color: #839192;
}