.statutentrainement{
	margin: 0.8em;
	border-radius: 15px;
	border-width: 0.1em;
	border-color: #839192;
	border-style: solid;
}

.productif{
	font-style: bold;
}

.centre{
	display: flex;
   	justify-content: center;
}

.cercle1{
	height: 3em;
	width: 3em;
	border-radius: 50%;
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: black;
}

.Container1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.Container2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ecriture{
	display: flex;
   	justify-content: center;
   	align-items: center;
   	font-size: 1em;
   	color: white;
}

.style{
	color:#839192;
}